<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Galeria</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col col-4 *ngFor="let tree of trees">
              <button ion-button (click)="openModal(tree)">
                <img *ngIf="tree.Photos.length <= 0" src="#">
                <img *ngIf="tree.Photos.length > 0" src="{{_imgUrl + tree.Photos[0].Url}}" >
              </button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
