<ion-menu id="NotAuth" [content]="content">
  <ion-header>
    <ion-toolbar>

      <!-- <button menuClose ion-button clear icon-left text-left class="menu-user-button" (click)="openPage('login')">
        <ion-icon name="contact"></ion-icon>
        Olá, clique aqui para entrar
      </button> -->

    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let page of pagesNotAuth" (click)="openPage(page);">
        <ion-icon item-start name="{{page.icon}}"></ion-icon>
        {{page.title}}		
      </button>
    </ion-list>
  </ion-content>

</ion-menu>


<ion-menu id="Auth" [content]="content">
    <ion-header>
      <ion-toolbar>
        
        <ion-row>
          <ion-col col-12 style="text-align:center;">
            <h2>Verdejar<span style="color:#1a3815;">App</span></h2>
          </ion-col>
        </ion-row>
        <!-- <button menuClose ion-button clear icon-left text-left class="menu-user-button" (click)="openPage('myaccountpage')">
          <ion-icon name="contact"></ion-icon>
          Olá, {{user?.Name}}
        </button> -->
  
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let page of pagesAuth" (click)="openPage(page);">
          <ion-icon item-start name="{{page.icon}}"></ion-icon>
          {{page.title}}	
        </button>
       
      </ion-list>
    </ion-content>
  
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>